.categories {
  overflow: hidden;
  margin-top: 90px;
}

.categories__item {
  height: 314px;
  display: flex;
  align-items: center;
  margin: 0 10px 10px 0;
  background-image: url(https://technext.github.io/ashion/img/categories/category-1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  .categories__text {
    padding-left: 25px;

    h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.4rem;
      font-weight: 700;
      color: var(--text-color);
      margin-bottom: 5px;
    }

    p {
      margin: 0 0 15px 0;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 2.4rem;
      color: #666666;
    }

    a {
      padding: 0 0 3px;
      font-size: 1.4rem;
      font-weight: 600;
      position: relative;
      color: var(--text-color);

      &::after {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: var(--primary);
        content: "";
      }
    }
  }
}

.categories__large__item {
  height: 638px;

  .categories__text {
    max-width: 480px;
    padding-left: 70px;

    h1 {
      font-family: "Cookie", sans-serif;
      font-size: 7rem;
      color: var(--text-color);
      margin-bottom: 5px;
    }
  }
}
